
*{
  font-family: "cuba" sans-serif;
}

body {
  color: white;
  background-color: black;
  
  color: white;
}
.list-group-item {
  color: white;
}
.card-text {
  color: white;
}
.card-img-top {
  height: 140px;
}

.list-group-item {
  color: white;
}
.card-text {
  color: white;
}
.card-img-top {
  height: 140px;
}
